#start {
	width: 500px;
	margin: 50px auto;
}

.disc {
	display: inline-block;
	height:50px;
	width:50px;
	border: 1px solid #000;
	padding: 5px;
	margin: 10px;
	text-align: center;
}

.disc:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

/* display only the main mood/event choice when page is loaded */

#moodpage, #eventpage, #newentrypage {
	display: none;
}