body {
	font-family: Raleway;
	background-color: #fff;
	color: #514f4e;
}

footer {
	height: 25px;
}


.holder {
	width: 500px;
	margin: 20px auto;
	padding: 0px;
	text-align: center
}

.disc {
	display: inline-block;
	height: 120px;
	width: 120px;
	line-height: 120px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	font: {
		size: 1em;
		weight: 300;
	}
	color: #fff;
	transition: all 0.1s ease-in-out 0.1s;
	position: relative;
}

.disc:hover {
	cursor: pointer;
	line-height: 130px;
	height: 130px;
	width: 130px;
	margin: 5px;
	font-size: 1.1em;
	-webkit-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	display: inline-block;
	text-align: center;
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #514f4e
}

.introtag {
	text-align: center;
	font-size: 2em;
	margin-bottom: 25px;
}

.makeinline {
	display: inline-block;
}

.delbutton {
	padding: 0px;
	color: #fff;
	display: none;
}

.delbutton:hover {
	color: #000;
}

#editmode, #moodhelp {
	text-align: center;
	display: inline-block;
	margin-left: 20px;
}

#editmode:hover, 
#moodhelp:hover, 
#closehelp:hover {
	cursor: pointer;
	color: #2196F3;
	transition: all 0.1s ease-in-out 0.1s;
}

#helpwindow {
	display: none;
	width: 100%;
	height: 100%;
}

.spacer {
	display: inline-block;
	margin: 0px 20px;
	height: 40px;
	width: 40px;
	border: 0px;
	border-radius: 50%;
	font-size: 1.5em;
	text-align: center;
}

#closehelp {
	display: inline-block;
	margin-left: 20px;
}

#mguidelinebox {
	width: 50%;
	margin: 0px auto;
	text-align: left;
}

.hidden {
	display:none;
}

#modeinfo {
	text-align: center;
}

#mood {
	background-color: #3F51B5;
}

#event {
	background-color: #E91E63;
}

#results {
	background-color: #009688;
}

#addnewform {
	text-align: center;
}

#nentry {
	width: 20%;
	font-size: 1.3em;
	color: #514f4e;
	text-align: center;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #514f4e;
	border-radius: 3px;
}

#addentry {
	background-color: #fff;
	border: 1px solid transparent;
	color: #514f4e;
	vertical-align: middle;
}

#addentry:hover {
	color: #2196F3;
	transition: all 0.1s ease-in-out 0.1s;
	cursor: pointer;
}


#prompt, #buttonbar {
	display: block;
}

#success {
	display: none;
	margin-top: 10%;
}

#frontpage, #main {
	display: none;
}

#zeromood {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#p3, #hp3 {
	background-color: #1976D2;
}

#p2, #hp2 {
	background-color: #03A9F4;
}

#p1, #hp1 {
	background-color: #00BCD4;
}

#zeromood, #hzeromood {
	background-color: #ff99bb;
	}

#n1, #hn1 {
	background-color: #9E9E9E;
} 

#n2, #hn2 {
	background-color: #607D8B;
}


#n3, #hn3 {
	background-color: #000;
}

#moodexplanations {
	list-style-type: none;
	width: 300px;
	margin: 25px auto;
}

#moodexplanations>li {
	margin: 10px 0px;
	line-height: 2em;

}

.vertcenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: auto;
	margin-right: auto;
}

.wf {
	color: #fff;
}

.centerizer {
	margin: 0px auto;
}

.charttag {
	display: inline-block;
}

.charttag:hover {
	cursor: pointer;
}

// Format charts

.chartholder {
	width: 50%;
	margin: 50px auto 20px auto;
}

.ct-series-a, .ct-line {
  /* Set the colour of this series line */
  stroke: #009688 !important;
  /* Control the thikness of your lines */
  stroke-width: 3px !important;
  /* Create a dashed line with a pattern */
  //stroke-dasharray: 10px 20px;
}

.ct-point {
	stroke: #3F51B5 !important;
}

.ct-slice-pie {
	stroke-width: 0px !important;
}
