body {
	font-family: Raleway;
	background-color: #fff;
	color: #514f4e;
}


.holder {
	width: 500px;
	margin: 50px auto;
	padding: 20px;
	text-align: center;
}

.disc {
	display: inline-block;
	background-color: orange;
	height: 100px;
	width: 100px;
	line-height: 100px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	font: {
		size: 1em;
		weight: 300;
	}
	color: #fff;
	transition: all 0.1s ease-in-out 0.1s;
	position: relative;
}

.disc:hover {
	cursor: pointer;
	line-height: 110px;
	height: 110px;
	width: 110px;
	margin: 5px;
	font-size: 1.1em;
	-webkit-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	display: inline-block;
	text-align: center;
	font-size: 2em;
}

#introtag {
	text-align: center;
	font-size: 2em;
}

.makeinline {
	display: inline-block;
}

.delbutton {
	padding: 0px;
	color: #fff;
}

.delbutton:hover {
	color: red;
}

#editmode {
	text-align: center;
	display: inline-block;
	margin-left: 20px;
}

#editmode:hover {
	cursor: pointer;
}

.hidden {
	display:none;
}

#modeinfo {
	text-align: center;
}

#mood {
	background-color: #2196F3;
}

#event {
	background-color: #4CAF50;
}

#newentry {
	background-color: #E91E63;
}
