body {
	font-family: Raleway;
	background-color: #fff;
	color: #514f4e;
}


.holder {
	width: 500px;
	margin: 20px auto;
	padding: 0px;
	text-align: center;
}

.disc {
	display: inline-block;
	background-color: orange;
	height: 120px;
	width: 120px;
	line-height: 120px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	font: {
		size: 1em;
		weight: 300;
	}
	color: #fff;
	transition: all 0.1s ease-in-out 0.1s;
	position: relative;
}

.disc:hover {
	cursor: pointer;
	line-height: 130px;
	height: 130px;
	width: 130px;
	margin: 5px;
	font-size: 1.1em;
	-webkit-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	display: inline-block;
	text-align: center;
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #514f4e
}

.introtag {
	text-align: center;
	font-size: 2em;
}

.makeinline {
	display: inline-block;
}

.delbutton {
	padding: 0px;
	color: #fff;
	display: none;
}

.delbutton:hover {
	color: #000;
}

#editmode {
	text-align: center;
	display: inline-block;
	margin-left: 20px;
}

#editmode:hover {
	cursor: pointer;
	color: #2196F3;
	transition: all 0.1s ease-in-out 0.1s;
}

.hidden {
	display:none;
}

#modeinfo {
	text-align: center;
}

#mood {
	background-color: #2196F3;
}

#event {
	background-color: #E91E63;
}

#addnewform {
	text-align: center;
}

#nentry {
	width: 20%;
	font-size: 1.3em;
	color: #514f4e;
	text-align: center;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #514f4e;
	border-radius: 3px;
}

#addentry {
	background-color: #fff;
	border: 1px solid transparent;
	color: #514f4e;
	vertical-align: middle;
}

#addentry:hover {
	color: #2196F3;
	transition: all 0.1s ease-in-out 0.1s;
	cursor: pointer;
}


#prompt, #buttonbar {
	display: block;
}

#success {
	display: none;
	margin-top: 10%;

}

#frontpage, #main {
	display: none;
}